<h1><%= @recipe.title %></h1>
<h3>Detalhes</h3>

<p><%= @recipe.recipe_type %></p>
<p><%= @recipe.cuisine %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_minutes %></p>

<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>

<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>

<%= link_to 'Editar', edit_recipe_path(@recipe) %>
<%= link_to 'Voltar', root_path %>

<%= form_with model: [@recipe, @recipe_list_item] do |f| %>
  <%= f.collection_select(:list_id, @lists, :id, :name) %>
  .....
<% end %>

<%= link_to 'Aprovar', approve_recipe_path(recipe), method: :post, class: 'btn btn-primary' %>

def approve
  @recipe = Recipe.find(params[:id])
  @recipe.approve!
end


User.create(email....password..., role: :admin)

within "#recipe-#{recipe.id}" do
  seu_codigo....
end