<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Enviar uma receita', new_recipe_path %>
        <% if current_user.admin? %>
          <%= link_to 'Receitas pendentes', pending_recipes_path %>
        <% end %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Cadastrar-se', new_user_registration_path %>
      <% end %>
    </nav> 
    <div>
      <p class=""><%= flash[:notice] %></p>
      <p class=""><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
